body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond ;
  }
  
  button {
    padding: 10px;
    margin: 2px;
    background-color: blue;
    color: white;
    border: none;
  }
  
  button:hover {
    background-color: darkblue;
  }
  